
{% load static %}



    
{% for item in items %}
<div class="box">
    <i class="fas fa-times"></i>
    <img style="width:100; height:100"src="{% static 'assets/' %}{{item.product.b_pic}}" alt="">
    <div class="content">
        <h3>{{item.product.b_name}}</h3>
        <h3>{{item.product.b_price}}</h3>

        <form action="">
            <span>Quantity: </span>
            <input 
             name="" value="{{item.quantity}}" id="" />
             <div class="'update-cart" data-product="{{item.product.id}}" data-action="add">&#8593</div>
             <h1  class="'update-cart"  data-product="{{item.product.id}}" data-action="remove">&#8595</h1>
        </form>
        <span class="multiply"> x </span>
        <span class="price">Nrs{{item.get_total}} </span>
        
    </div>
    {% endfor %}
  total_item={{order.get_cart_items}}
  total-price={{order.get_cart_total}}
  <a href="/checkout" class="btn update-cart">checkout button</a>
</div>
