{% extends 'Admin/admin_nav.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8" />
  <title>Add Books</title>
  {% load static %}
  <!-- custom css file link  -->
  <link rel="stylesheet" href="{% static 'css/admin/Add_book.css' %}">

  <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

  <section class="home-section">
    
    <div class="home-content">
      <div class="overview-boxes">
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total Books
            </div>
            <div class="number">700
            </div>
          </div>
        </div>
      </div>

      <div class="sales-boxes">
        <div class="recent-sales box">
          <div class="title">Second hand book

          </div>
          <div class="sales-details">
            <form action="" method="post" class="add-product-form" enctype="multipart/form-data">
              {% csrf_token %}
              <h3>Add Book</h3>
              <span>Book Name</span>
              <input type="text" name="b_name" placeholder="enter the books name" id="b_name"
                class="box"  required/>
              <!--Message Validation-->
              <div class="message ml-4"></div>

              <span>Author</span>
              <input type="text" name="auther" placeholder="enter the Authers  name" class="box" />
              <!--Message Validation-->
              <div class="message ml-4"></div>
              <span>Book Genre</span>

              <input class="list" list="Day of arrival" name="b_genre" placeholder="Enter the type of Book" />
              <datalist id="Day of arrival">
                <option value=" Fiction"></option>
                <option value="Nonfiction"></option>
                <option value="Drama"></option>
                <option value="Poetry"></option>
                <option value="Folktale"></option>
              </datalist>
              <!--Message Validation-->
              <div class="message ml-4"></div>
              <span>Price</span>
              <input type="number" name="b_price" min="0" placeholder="Enter the Book price" class="box" />
              <!--Message Validation-->
              <div class="message ml-4"></div>
              <span>Description</span>
              <input type="text" name="b_desc" min="0" placeholder="Enter the Book description" class="box" />

              <!-- slug -->
             
              <!--  -->
              <span>Image</span>
              <input type="file" name="b_pic" accept="" class="box3" style="
                    display: inline-block;
                    text-align: center;
                    color: rgb(12, 2, 2);
                  " />
              <input type="submit" value="Add Book" name="add_product" class="btn" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>
<script src="{% static 'js/B_form.js' %}"></script>

</html>
{% endblock %}