{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8" />
  <title>Book Store Admin Dashboard</title>
  <link rel="stylesheet" href="{% static 'css/Admin/admin_style.css' %}" />

  <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <div class="sidebar">
    <div class="logo-details">

      <div class="logo_name">Book Store</div>
      <i class="bx bx-menu" id="btn"></i>
    </div>
    <ul class="nav-list">
      <li>
        <a href="/addbook" class="active">
          <i class="bx bx-grid-alt"></i>
          <span class="links_name">Add Products</span>
        </a>
        <span class="tooltip">Add Product</span>
      </li>
      <li>
        <a href="/admindash">
          <i class="bx bx-grid-alt"></i>
          <span class="links_name">Book Stores</span>
        </a>
        <span class="tooltip">Book Stores</span>
      </li>
      <li>
        <a href="/customers">
          <i class="bx bx-user"></i>
          <span class="links_name">Customers</span>
        </a>
        <span class="tooltip">Customers</span>
      </li>
      <li>
        <li>
          <a href="/user_order">
            order
            <span class="links_name">orders</span>
          </a>
          <span class="tooltip">order</span>
        </li>
        <li>

      <li class="profile">
        <div class="profile-details">
          <div class="name_job">
            <div class="name">Admin</div>
            <div class="job">Logout</div>
          </div>
        </div>
        <i class="bx bx-log-out" id="log_out"></i>
      </li>
    </ul>
  </div>
  {% for msg in messages %}

  <strong>Hey!</strong> {{msg}}

  {% endfor %}

 
    
    {% block content %} {% endblock %}

</body>

</html>