<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title> Admin Dashboard</title>

    
    <link rel="stylesheet" href="customer.css" />

    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
   
    <section class="home-section">
      <div class="text">Customers</div>
      <div class="home-content">
        <div class="overview-boxes">
          <div class="box">
            <div class="right-side">
              <div class="box-topic">Total Customers</div>
              <div class="number">4</div>
            </div>
          </div>
        </div>

        <div class="sales-boxes">
          <div class="recent-sales box">
            <div class="title">Customer's List</div>
            <div class="sales-details">
              <table>
                <thead>
                  <th>No.</th>
                  <th>Username</th>
                  <th>Email</th>
                  <th>Number</th>
                  <th>Password</th>
                  <th>action</th>
                </thead>

                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Marina</td>
                    <td>marina@gmail.com</td>
                    <td>9880327811</td>
                    <td>marina</td>
                    <td>
                      <a
                        href="#"
                        class="delete-btn"
                        onclick="return confirm('are your sure you want to delete this?');"
                      >
                        <i class="fas fa-trash"></i> delete
                      </a>
                      <!-- <a href="#" class="option-btn">
                        <i class="fas fa-edit"></i> update
                      </a> -->
                    </td>
                  </tr>
                  <tr>
                                     
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>

  </body>
</html>
